# dependencies
node_modules/

# testing
coverage/

# production
build/

# local
local

# misc
.DS_Store
.env.local
.nyc_output
npm-debug.log
yarn-error.log

# vim
*.swo
*.swp

# local testing
tests/local/

dist